h1 {
    font-style: italic;
    font-weight: bold;
}

.table-board {
    background-image: url('../../assets/img/board-light.jpg');
    background-size: 100px;
    border: 1px solid black;
}

.table-board td {
    border: 1px white solid;
    width: 70px;
    height: 70px;
    text-align: center;
}

.table-board tr:first-child td,
.table-board td:first-child,
.table-board tr:last-child td,
.table-board td:last-child {
    background: black;
    color: white;
    font-size: 20px;
}

.player-active {
    background: #d4edda;
}

.move {
    background: red;
}

.valid-move {
    opacity: 0.2;
}