<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card avatar" style="width: 18rem; margin-left: auto;">
        <div class="card-header">
          <img src="../../assets/img/{{player1.avatar}}">
        </div>
        <div class="card-body text-center" [ngClass]="{ 'player-active': game.player == 'x' }">
          <h5 class="card-title">{{player1.name || "Player 1"}}</h5>
          <h1>{{playerScore('x')}}</h1>
          <hr />
          <div class="chip {{player1.color}}"></div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <table class="table-board center">
        <tbody>
          <tr>
            <td></td>
            <td>A</td>
            <td>B</td>
            <td>C</td>
            <td>D</td>
            <td>E</td>
            <td>F</td>
            <td>G</td>
            <td>H</td>
            <td></td>
          </tr>
          <tr *ngFor="let row of game.board; let y = index">
            <td>{{y + 1}}</td>
            <td *ngFor="let cell of row.split(''); let x = index" [ngClass]="{ 'bg-info': isMove(x, y) }" (click)="move(x, y)">
              <div *ngIf="cell == 'x'" class="chip {{player1.color}}"></div>
              <div *ngIf="cell == 'o'" class="chip {{player2.color}}"></div>
              <!-- <div *ngIf="isValidMove(x, y)" class="chip-black valid-move"></div> -->
            </td>
            <td>{{y + 1}}</td>
          </tr>
          <tr>
            <td></td>
            <td>A</td>
            <td>B</td>
            <td>C</td>
            <td>D</td>
            <td>E</td>
            <td>F</td>
            <td>G</td>
            <td>H</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-3">
      <div class="card avatar avatar-2" style="width: 18rem;">
        <div class="card-header">
          <img src="../../assets/img/{{player2.avatar}}">
        </div>
        <div class="card-body text-center" [ngClass]="{ 'player-active': game.player == 'o' }">
          <h5 class="card-title">{{player2.name || "Player 1"}}</h5>
          <h1>{{playerScore('o')}}</h1>
          <hr />
          <div class="chip {{player2.color}}"></div>
        </div>
      </div>
    </div>
  </div>
</div>