<div class="container-fluid">
  <br/>
  <h1 class="text-center">Othello</h1>
  <hr />
  <table>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><div class="white-chip"></div></td>
          <td><div class="black-chip"></div></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><div class="black-chip"></div></td>
            <td><div class="white-chip"></div></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>      
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>